@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Work Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--CSS============================================= -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/libUs/css/linearicons.css">
    <link rel="stylesheet" href="/libUs/css/font-awesome.css">
    <link rel="stylesheet" href="/libUs/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libUs/css/bootstrap.css">
    <link rel="stylesheet" href="/libUs/css/magnific-popup.css">
    <link rel="stylesheet" href="/libUs/css/nice-select.css">
    <link rel="stylesheet" href="/libUs/css/animate.min.css">
    <link rel="stylesheet" href="/libUs/css/owl.carousel.css">
    <link rel="stylesheet" href="/libUs/css/main.css">
    <script src="/libUs/js/vendor/jquery-2.2.4.min.js"></script>
</head>
<body>
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <a href="#" id="logo">
                    <span class="word1">Work</span>
                    <span class="word2">Generator</span>
                </a>
                <div id="navbar-job">
                    <img src="/libUs/img/header-bg2.jpg" alt="" style=" width: 50px; height: 50px;
							margin: auto; border-radius: 50%" />
                    <span>Senior Java Developer</span>
                    <a>APLLY NOW</a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a asp-area="Customer" asp-controller="Home" asp-action="index">Home</a></li>
                        <li><a asp-area="Customer" asp-controller="home" asp-action="JobHome">Jobs</a></li>
                        <li><a href="about-us.html">Company</a></li>
                        <li><a href="category.html">Category</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <!-- <li class="menu-has-children"><a href="about-us.html">About Us</a>
                            <ul>
                                    <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>	 -->
                        <!-- <li><a class="ticker-btn" href="#">Signup</a></li>
                        <li><a class="ticker-btn" href="#">Login</a></li> -->
                    </ul>
                </nav>
                <div class="noti" id="noti1">
                    <i class="fas fa-bell noti-icon"><span class="noti-badge">3</span></i>
                    <ul class="noti-dropdown">
                        <li class="noti-dropdown-title">Job recommendation</li>
                        <li class="noti-dropdown-item">a</li>
                        <li class="noti-dropdown-item">a</li>
                        <li class="noti-dropdown-item">a</li>
                        <li class="noti-dropdown-title">Recruiter messages</li>
                        <li class="noti-dropdown-item">a</li>
                        <li class="noti-dropdown-item">a</li>
                        <li class="noti-dropdown-item">a</li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!-- #header -->
    @RenderBody()
    <!-- Start callto-action Area -->
    <section class="callto-action-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                        <!-- <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation.</p> -->
                        <a class="primary-btn" href="#">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End calto-action Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-white" style="line-height: 3;">
                    TECHWIZ 2019 - The site is
                    made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/CUSC.CE/" target="_blank">HTTPS</a>
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="https://www.facebook.com/CUSC.CE/"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="/libUs/js/vendor/bootstrap.min.js"></script>
    <script src="/libUs/js/easing.min.js"></script>
    <script src="/libUs/js/hoverIntent.js"></script>
    <script src="/libUs/js/superfish.min.js"></script>
    <script src="/libUs/js/jquery.ajaxchimp.min.js"></script>
    <script src="/libUs/js/jquery.magnific-popup.min.js"></script>
    <script src="/libUs/js/owl.carousel.min.js"></script>
    <script src="/libUs/js/jquery.sticky.js"></script>
    <script src="/libUs/js/jquery.nice-select.min.js"></script>
    <script src="/libUs/js/parallax.min.js"></script>
    <script src="/libUs/js/mail-script.js"></script>
    <script src="/libUs/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>