<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Job Listing</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="/libUser/css/linearicons.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/libUser/css/font-awesome.css">
    <link rel="stylesheet" href="/libUser/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libUser/css/bootstrap.css">
    <link rel="stylesheet" href="/libUser/css/magnific-popup.css">
    <link rel="stylesheet" href="/libUser/css/nice-select.css">
    <link rel="stylesheet" href="/libUser/css/animate.min.css">
    <link rel="stylesheet" href="/libUser/css/owl.carousel.css">
    <link rel="stylesheet" href="/libUser/css/main.css">
    <script src="/libUser/js/vendor/jquery-2.2.4.min.js"></script>
    <script>sessionStorage.setItem("detail", "true");</script>
</head>
<body>
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <span class="word1">Work</span>
                    <span class="word2">Generator</span>
                </div>
                <div id="navbar-job">
                    <img src="/libUser/img/header-bg2.jpg" alt="" style=" width: 50px; height: 50px;
							margin: auto; border-radius: 50%" />
                    <span>Senior Java Developer</span>
                    <a>APLLY NOW</a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">Jobs</a></li>
                        <li><a href="about-us.html">Company</a></li>
                        <li><a href="category.html">Category</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <!-- <li class="menu-has-children"><a href="about-us.html">About Us</a>
                            <ul>
                                    <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>	 -->
                        <li><a class="ticker-btn" href="#">Signup</a></li>
                        <li><a class="ticker-btn" href="#">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-12">
                    <h1 class="text-white">
                        <span>1500+</span> Jobs posted last week
                    </h1>
                    <form action="search.html" class="serach-form-area">
                        <div class="row justify-content-center form-wrap">
                            <div class="col-lg-4 form-cols">
                                <input type="text" class="form-control" name="search"
                                       placeholder="what are you looging for?">
                            </div>
                            <div class="col-lg-3 form-cols">
                                <div class="default-select" id="default-selects" ">
                                    <select>
                                        <option value=" 1">Select area</option>
                                        <option value="2">Dhaka</option>
                                        <option value="3">Rajshahi</option>
                                        <option value="4">Barishal</option>
                                        <option value="5">Noakhali</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 form-cols">
                                <div class="default-select" id="default-selects2">
                                    <select>
                                        <option value="1">All Category</option>
                                        <option value="2">Medical</option>
                                        <option value="3">Technology</option>
                                        <option value="4">Goverment</option>
                                        <option value="5">Development</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 form-cols">
                                <button type="button" class="btn btn-info">
                                    <span class="lnr lnr-magnifier"></span> Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="text-white">
                        <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company,
                        Design, Development
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start popular-post Area -->
    <section class="popular-post-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="active-popular-post-carusel">
                    <div class="single-popular-post d-flex flex-row" style="padding:20px 20px 10px 20px">
                        <div class="thumb">
                            <table>
                                <tr>
                                    <td><img src="/libUser/img/header-bg2.jpg" alt=""></td>
                                </tr>
                                <tr>
                                    <td><a class="btns text-uppercase" href="#">view job</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="details">
                            <a href="#">
                                <h4>Senior Java Develope</h4>
                            </a>
                            <h6 style="font-weight: 400; padding: 4px 0">Axon active</h6>
                            <div style="font-size:12px;">
                                <p class="address" style="color:#68ba50">
                                    <i class="fas fa-dollar-sign"
                                       style="margin: 0 10px 0 3px"></i>100~300
                                </p>
                                <p class="address">
                                    <span class="lnr lnr-map-marker"
                                          style="margin-right:7px"></span>56/8, Panthapath Dhanmondi Dhaka
                                </p>
                            </div>
                            <div style="text-indent:15px;font-size:12px; margin-bottom: 7px; color:#d4d0d0">
                                <p>
                                    <span style="font-size:14px">&ldquo;</span>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna
                                    ali...<span style="font-size:14px">&rdquo;</span>
                                </p>
                            </div>
                            <ul class="tags-skill">
                                <li>
                                    <a href="#">Java</a>
                                </li>
                                <li>
                                    <a href="#">Postgres</a>
                                </li>
                                <li>
                                    <a href="#">J2EE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-popular-post d-flex flex-row" style="padding:20px 20px 10px 20px">
                        <div class="thumb">
                            <table>
                                <tr>
                                    <td><img src="/libUser/img/header-bg2.jpg" alt=""></td>
                                </tr>
                                <tr>
                                    <td><a class="btns text-uppercase" href="#">view job</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="details">
                            <a href="#">
                                <h4>Senior Java Develope</h4>
                            </a>
                            <h6 style="font-weight: 400; padding: 4px 0">Axon active</h6>
                            <div style="font-size:12px;">
                                <p class="address" style="color:#68ba50">
                                    <i class="fas fa-dollar-sign"
                                       style="margin: 0 10px 0 3px"></i>100~300
                                </p>
                                <p class="address">
                                    <span class="lnr lnr-map-marker"
                                          style="margin-right:7px"></span>56/8, Panthapath Dhanmondi Dhaka
                                </p>
                            </div>
                            <div style="text-indent:15px;font-size:12px; margin-bottom: 7px; color:#d4d0d0">
                                <p>
                                    <span style="font-size:14px">&ldquo;</span>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna
                                    ali...<span style="font-size:14px">&rdquo;</span>
                                </p>
                            </div>
                            <ul class="tags-skill">
                                <li>
                                    <a href="#">Java</a>
                                </li>
                                <li>
                                    <a href="#">Postgres</a>
                                </li>
                                <li>
                                    <a href="#">Java</a>
                                </li>
                                <li>
                                    <a href="#">Postgres</a>
                                </li>
                                <li>
                                    <a href="#">Java</a>
                                </li>
                                <li>
                                    <a href="#">Postgres</a>
                                </li>
                                <li>
                                    <a href="#">Java</a>
                                </li>
                                <li>
                                    <a href="#">Postgres</a>
                                </li>
                                <li>
                                    <a href="#">J2EE</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End popular-post Area -->
    <!-- Start feature-cat Area -->
    <section class="feature-cat-area pt-100" id="category">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Featured Job Categories</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="/libUser/img/o1.png" alt="">
                        </a>
                        <p>Accounting</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="/libUser/img/o2.png" alt="">
                        </a>
                        <p>Development</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="/libUser/img/o3.png" alt="">
                        </a>
                        <p>Technology</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="/libUser/img/o4.png" alt="">
                        </a>
                        <p>Media & News</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="/libUser/img/o5.png" alt="">
                        </a>
                        <p>Medical</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="/libUser/img/o6.png" alt="">
                        </a>
                        <p>Goverment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature-cat Area -->
    <!-- Start post Area -->
    <section class="post-area section-gap">
        @RenderBody()
        <div class="row justify-content-center d-flex filter-job">
            <div class="col-lg-3 sidebar">
                <div class="single-slidebar">
                    <h4>Jobs by Skill</h4>
                    <ul class="cat-list">
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>New York</p><span>37</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Park Montana</p><span>57</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Atlanta</p><span>33</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Arizona</p><span>36</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Florida</p><span>47</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Rocky Beach</p><span>27</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Chicago</p><span>17</span>
                            </a>
                        </li>
                    </ul>
                    <a class="more-job-by" href="#">View all jobs by Skill</a>
                </div>
            </div>
            <div class="col-lg-3 sidebar">
                <div class="single-slidebar">
                    <h4>Jobs by Category</h4>
                    <ul class="cat-list">
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Technology</p><span>37</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Media & News</p><span>57</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Goverment</p><span>33</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Medical</p><span>36</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Restaurants</p><span>47</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Developer</p><span>27</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Accounting</p><span>17</span>
                            </a>
                        </li>
                    </ul>
                    <a class="more-job-by" href="#">View all jobs by Skill</a>
                </div>
            </div>
            <div class="col-lg-3 sidebar">
                <div class="single-slidebar">
                    <h4>Jobs by Location</h4>
                    <ul class="cat-list">
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>New York</p><span>37</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Park Montana</p><span>57</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Atlanta</p><span>33</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Arizona</p><span>36</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Florida</p><span>47</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Rocky Beach</p><span>27</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="category.html">
                                <p>Chicago</p><span>17</span>
                            </a>
                        </li>
                    </ul>
                    <a class="more-job-by" href="#">View all jobs by Skill</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->
    <!-- Start callto-action Area -->
    <section class="callto-action-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                        <!-- <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation.</p> -->
                        <a class="primary-btn" href="#">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End calto-action Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-white" style="line-height: 3;">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    TECHWIZ 2019 - The site is
                    made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                     target="_blank">HTTPS</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="https://www.facebook.com/CUSC.CE/"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <!-- <script>
        async function initMap() {
            var laturl = null;
            var lngurl = null;
            await $.getJSON('https://nominatim.openstreetmap.org/search?q=' + 'so 1 ly tu trong can tho' + '&format=json&polygon=1&addressdetails=1&fbclid=IwAR0_89LJlS7a6MzC9ZWZwMpFRVAPF-qED9SfMXS03TEShSkZNsC1zd7OEOw', function (data) {
                var obj = $.parseJSON(JSON.stringify(data));
                if (!jQuery.isEmptyObject(obj)) {
                    laturl = Number(obj[0].lat);
                    lngurl = Number(obj[0].lon);
                }
            });
            var myLatLng = { lat: 15.9030623, lng: 105.8066925 };
            var zoomOpt = 5;
            if (laturl != null && lngurl != null) {
                myLatLng = { lat: laturl, lng: lngurl };
                zoomOpt= 18;
            }
            console.log(myLatLng.lat+" "+myLatLng.lng);
            var map = new google.maps.Map(document.getElementById('location-employer'), {
                zoom: zoomOpt,
                center: myLatLng
            });
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
            marker.setMap(map);
        };
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7TScJIJecTMT4iTYxwQn6GDw9GAOTiOY&callback=initMap"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="/libUser/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="/libUser/js/easing.min.js"></script>
    <script src="/libUser/js/hoverIntent.js"></script>
    <script src="/libUser/js/superfish.min.js"></script>
    <script src="/libUser/js/jquery.ajaxchimp.min.js"></script>
    <script src="/libUser/js/jquery.magnific-popup.min.js"></script>
    <script src="/libUser/js/owl.carousel.min.js"></script>
    <script src="/libUser/js/jquery.sticky.js"></script>
    <script src="/libUser/js/jquery.nice-select.min.js"></script>
    <script src="/libUser/js/parallax.min.js"></script>
    <script src="/libUser/js/mail-script.js"></script>
    <script src="/libUser/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>