@model WorkAptech.Data.Training

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 class="text-info">Create Training</h2>
<br />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Title" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Title" class="form-control" />
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Type" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Type" /> @Html.DisplayNameFor(m => m.Type)
            </div>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TrainingDate" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="TrainingDate" class="form-control" />
            </div>
            <span asp-validation-for="TrainingDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Hours" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Hours" id="timepicker" class="form-control" />
            </div>
            <span asp-validation-for="Hours" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.Description)
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Company" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="CompanyId" id="CategoryId" asp-items="ViewBag.CompanyId" class="form-control"></select>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="CategoryId" id="CategoryId" asp-items="ViewBag.CategoryId" class="form-control"></select>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Status" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Status" /> @Html.DisplayNameFor(m => m.Type)
            </div>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        $('#timepicker').timepicker({
            timeFormat: 'h:mm:ss ',
            interval: 60,
            minTime: '10',
            maxTime: '6:00pm',
            defaultTime: '11',
            startTime: '10:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    </script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format',
            height: 300,
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table paste imagetools wordcount"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tiny.cloud/css/codepen.min.css'
            ]
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
