@model WorkAptech.Data.Training

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="border backgroundWhite row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Title" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Title" class="form-control" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Type" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Type" />
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TrainingDate" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="TrainingDate" class="form-control" type="text" id="datepicker" />
                </div>
                <span asp-validation-for="TrainingDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Hours" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Hours" class="form-control" />
                </div>
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.Description)
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CompanyId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="CompanyId" id="CategoryId" asp-items="ViewBag.CompanyId" class="form-control"></select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="CategoryId" id="CategoryId" asp-items="ViewBag.CategoryId" class="form-control"></select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Status" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Status" />
                </div>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3 offset-1">
            <img src="@Model.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_EditAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}