@model WorkAptech.Data.Job

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 class="text-info">Create Job</h2>
<br />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Salary" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Salary" class="form-control" />
            </div>
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Description" class="form-control" />
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="JobRole" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="JobRole" class="form-control" />
            </div>
            <span asp-validation-for="JobRole" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="JobDate" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="JobDate" class="form-control" />
            </div>
            <span asp-validation-for="JobDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Experience" class="control-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Experience" asp-items="Html.GetEnumSelectList<WorkAptech.Data.Job.ExperienceJob>()" class="form-control"></select>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CategoryId" class="control-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UserId" class="control-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="WorkingTime" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="WorkingTime" id="timepicker" class="form-control" />
            </div>
            <span asp-validation-for="WorkingTime" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="WorkingForm" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="WorkingForm" class="form-control" />
            </div>
            <span asp-validation-for="WorkingForm" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        $('#timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 60,
            minTime: '10',
            maxTime: '6:00pm',
            defaultTime: '11',
            startTime: '10:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
