@model Generatehttps.Models.Event
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete Event</h2>
<br />

<form method="post" asp-action="Delete">
    <div class="border backgroundWhite">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TiTle" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="TiTle" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Date" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Date" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Hour" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Hour" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Address" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Address" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Information" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Information" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>





